@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a FútbolGarbin</h1>
    <a  href='@Url.Action("SelectIndumentaria")'alt="Ir a Indumentaria">Seleccionar Indumentaria</a>
    <h2>Artículos increíbles al alcance de cualquier mortal</h2>
</div>
@foreach (string key in ViewBag.dicEquiposIndumentaria.Keys){
    <h4>@key</h4>
    <div id = 'mostrar'>
        <img src="/Fotos/@ViewBag.dicEquiposIndumentaria[key].Medias">
        <img src="/Fotos/@ViewBag.dicEquiposIndumentaria[key].Pantalon">
        <img src="/Fotos/@ViewBag.dicEquiposIndumentaria[key].Camiseta">
    </div>
}


