@{
    ViewData["Title"] = "Indumentaria";
}
<h1>@ViewData["Title"]</h1>



<form action = '@Url.Action("GuardarIndumentaria")'>
<div>
    <p>
        Elegi un Equipo:
        <div>
            <select name="Equipo">
                @foreach (string item in ViewBag.ListaEquipos)
                {
                    <option value="@item">
                        @item
                    </option>
                }
            </select>
    </p>
</div>
<div id= "Formulario">
    @foreach (string item in ViewBag.ListaRemeras)
    {
        <img src= "/Fotos/@item" alt="wwwroot1">
    }
    <input type="number" max= "10" min="1" step="1" placeholder="0" required name="numRemera"/>

</div>
<div id= "Formulario">
@foreach (string item in ViewBag.ListaPantalones)
    {
        <img src= "/Fotos/@item"alt="wwwroot1">
    }

    <input type="number" max= "10" min="1" step="1" placeholder="0" required name="numPantalon"/>


</div>
<div id= "Formulario">
@foreach (string item in ViewBag.ListaMedias)
    {
        <img src= "/Fotos/@item" alt = "wwwroot2">
    }

    <input type="number" max= "10" min="1" step="1" placeholder="0" required name="numMedia"/>

</div>
<div>
        <p id = "Botonesfinales">
            <input id = "submit" type="submit" value = "Enviar formulario"required >  
            
            <input id = "reset" type="reset" value = "Resetear formulario"required>
        </p>
</div>
</form>