html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: azure;
  margin-bottom: 60px;
}
#Formulario{
  float: left;
  border: 3px solid rgb(107, 107, 107);
  background-color: rgba(129, 129, 129, 0.295);
  border-radius: 40px;
  margin: 10px;
}
input{
  border-radius: 10px;
  border: 3px solid #424242d0;
  background-color: white;
  color: black;
  font-weight: bold;
  transition-duration: 0.4s;
}
input:hover{
  color: white;
  background-color: #424242d0;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}
img{
  height: 9%;
  width: 9%;
}
#submit{
  margin: 10px;
  width: 200px;
  height: 50px;
}
#reset{
  margin: 10px;
  width: 200px;
  height: 50px;
}
#Botonesfinales{
  text-align: center;
}
#Botonesfinales :hover{
  transform: scale(1.2);
}
h3{
  text-align: center;
}